.flex-center{
	display: flex;
	justify-content: center;
	margin-top:3rem;
	margin-bottom:3rem;
}

.flex-column{
	flex-direction: column;
	align-items: center;
}

.landing-body{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.main-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;
}