.flex-center {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.landing-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top:3rem;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8.5rem;
}
.prelanding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.left-nav-menu {
  margin-top: 3rem;
}

.right-nav-menu {
  margin-top: 3rem;
  height: 21rem;
}

.header-left {
  padding: 0rem 6rem;
  display: flex;
  align-items: center;
}
.header-right {
  padding: 0rem 6rem;
  flex-direction: row;
  display: flex;
}
.header-right-name {
  padding-left: 1rem !important;
}
.action-body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.virtual-id {
  display: flex !important;
  flex-direction: row !important;
  width: 41rem !important;
  flex-wrap: wrap !important;
}
.qr-code {
  position: absolute !important;
  right: 0;
  top: 3rem;
}

.edit-profile-container {
  width: 40rem !important;
}
#right-hamburger {
  display: none;
}
.white-bg {
  background-color: white;
}
.sticky {
  top: 0px;
  position: sticky;
  z-index: 3;
  height: 8.5rem;
}
.id-contents {
  width: 27rem;
  padding-left: 0rem;
}
.home-card {
  width: 40rem;
}
#signin-page,
#signup-page {
  width: 28rem !important;
}
.ui.visible.top.overlay.sidebar {
  overflow-y: visible !important;
  box-shadow: unset !important;
}
.checkup-container {
  width: 40rem;
}
.users-container{
  margin: unset;
  width: 40rem;
}
@media only screen and (max-device-width: 480px) {
  .left-nav-menu {
    display: none;
  }

  .right-nav-menu {
    display: none;
  }
  .header-left {
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
  }
  .header-right {
    padding: 0rem 2rem;
    flex-direction: row;
    display: flex;
  }
  .header-right-name {
    display: none;
  }
  .qr-code {
    position: absolute !important;
    right: 0.5rem;
    top: 4rem;
    width: 8rem !important;
  }
  .virtual-id {
    display: flex !important;
    flex-direction: row !important;
    width: auto !important;
    flex-wrap: wrap !important;
    margin: 1rem !important;
  }
  #right-hamburger {
    display: block;
    background-color: white;
  }
  .edit-profile-container {
    width: 100% !important;
  }
  .landing-body {
    width: 100%;
    margin-top: 1rem;
  }
  .profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-header {
    text-align: center;
  }
  .home-card {
    width: auto !important;
    align-items: unset;
  }
  #signin-page,
  #signup-page {
    width: 100% !important;
  }
  .horizontal-side-bar {
    height: 8.5rem !important;
  }
  .main-header-1 {
    z-index: 5;
    padding: unset !important;
    /* overflow-y: visible !important; */
  }
  .checkup-container {
    width: 100%;
    margin: 0rem !important;
  }
  .flex-column {
    width: 100%;
  }
  .users-container {
    width: 100%;
  }
  .visible.transition{
    width: 100% !important;
  }
  .action-body{
    align-self: center;
  }
  .or-divider{
    display: none !important;
  }
}
